<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Job Roles in Data Science/Big Industry</h1>
    <ul>
        <p>jobroles: {{reporting executive}}</p>
        <p>jobroles: {{business analyst}}</p>
        <p>jobroles: {{data analyst}}</p>
        <p>jobroles: {{statistician}}</p>
        <p>jobroles: {{data scientist}}</p>
        <p>jobroles: {{data engineer/data architect}}</p>
        <p>jobroles: {{machine learning engineer}}</p>
        <p>jobroles: {{big data engineer}}</p>
    </ul>
    
</body>
</html>